{% extends 'base.html.twig' %}

{% block body %}
	{{ dump(app.current_route, app.current_route_parameters) }}
	<br>
	
	{{ attribute(hash_locator, 'flashes') is defined ? 'METHOD EXISTS' : 'METHOD DOESN\'T EXIST' }}

	{{ dump(attribute(app, 'flashes', ['notice'])) }}
	{#
	{{ dump(app.flashes('notice')) }}
	
	<div>
		{% for key, mess in app.session.flashBag.peek('notice') %}
				<div class={{ 'flash-' ~ key }}>
					{{ mess }}
				</div>			
		{% endfor %}
	</div>
	#}
{% endblock body %}
