{% extends 'base.html.twig' %}

{% block body %}
		{{ dump(app.current_route_parameters) }}
	<br>
	<div class="red">
		{{ where_I_am ?? "WEREN'T PASSED" }}
	</div>
	<br>
	{{ dump(page ?? "WEREN'T PASSED") }}
	
	<div>
		{{ absolute_url(path('app_home_home')) }}
	</div>
	{#
	#}
	
	<div>
		{#
			{% for mess in messages %}
			{% endfor %}
		#}
		{% for key, mess in app.session.flashBag.peek('notice') %}
				<div class={{ 'flash-' ~ key }}>
					{{ mess }}
				</div>			
		{% endfor %}
	</div>
{% endblock body %}
