{#
	TODO:	alert based on swal (needs gs_alert)
	
	Usage:
		{{ component('gs_alert', {
			message:			'',

			delay:				3000,
			persist:			false,
			style:				'success',
			type:				'toast',
			position:			'topright',
		}) }}
#}

	<div
		{{ stimulus_controller('gs_alert', {
			delay,
			persist,
		}) }}
		class="show toast"
		role="alert"
		aria-live="assertive"
		aria-atomic="true"
	>
	<div class="toast-header">
		<img src="{{- asset(app_images_public_path ~ '/alert/stump.png') -}}" style="width: 25px;" class="rounded me-2" alt="stump">
			<strong class="me-auto">{{- 'alert'|trans -}}</strong>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body">
			{{ message }}
		</div>
	</div>